@media screen and (max-width: 576px) {
    header>nav {
        padding: 25px;
        border: 1px solid rgba(254, 163, 1, 1);
    }

    .nav-links,
    .navbar-right,
    h1 {
        display: none;
    }

    .hamburger {
        display: flex;
    }

    .banner {
        flex-direction: column-reverse;
        padding: 25px;
    }

    .banner-details {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .banner-image>img {
        width: 100%;
    }

    #curriculum, #stories {
        margin: 25px;
    }

    .curriculum, .stories-right, .stories {
        grid-template-columns: repeat(1, 1fr);
    }

    .curriculum-btn {
        display: none;
    }

    .stories-left-contents-cards {
        display: none;
    }

    .stories {
        grid-template-columns: repeat(1, 1fr);
    }
}