@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Quicksand;
}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 3.5rem;
}

h3 {
    font-size: 2.75rem;
}

h4 {
    font-size: 1.25rem;
}

h5 {
    font-size: 1rem;
}

#orange,
#orange-title {
    color: rgba(254, 163, 1, 1);
}

#blue,
#blue-title {
    color: rgba(1, 172, 253, 1);
}

#skyblue {
    color: rgba(5, 212, 223, 1);
}

#violet {
    color: rgba(93, 88, 239, 1);
}

/* Header */

header {
    background-color: white;
}

header>nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 150px;
}

.navbar-left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 30px;
}

a {
    text-decoration: none;
    color: rgba(66, 66, 66, 1);
    font-size: 1rem;
    font-weight: bold;
}

#orange:hover,
#blue:hover,
#skyblue:hover,
#violet:hover {
    color: #333;
}

.btn {
    background-color: rgba(254, 163, 1, 1);
    color: whitesmoke;
    border-radius: 40px;
    border: none;
    width: 195px;
    height: 50px;
    font-weight: bold;
    font-size: 1rem;
}

.btn:hover {
    background-color: whitesmoke;
    color: rgba(254, 163, 1, 1);
    cursor: pointer;
    border: 1px solid rgba(254, 163, 1, 1);
    transition: 0.5s ease all;
}

.hamburger {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.hamburger span {
    width: 25px;
    height: 3px;
    background-color: rgba(66, 66, 66, 1);
    border-radius: 3px;
}

/* Banner */

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 150px;
}

.banner-details {
    max-width: 640px;
}

.description {
    font-size: 1.25rem;
    padding-top: 25px;
    color: rgba(17, 17, 17, 1);
    font-weight: regular;
    text-align: justify;
}

.banner-btn {
    background-color: rgba(17, 17, 17, 1);
    color: whitesmoke;
    border-radius: 12px;
    margin: 25px 0;
    border: none;
    width: 200px;
    height: 50px;
    font-weight: bold;
    font-size: 1rem;
}

.banner-btn:hover {
    background-color: whitesmoke;
    color: rgba(17, 17, 17, 1);
    cursor: pointer;
    border: 1px solid rgba(17, 17, 17, 1);
    transition: 0.5s ease all;
}

/* Curriculum */

#curriculum {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(./resources/assets/bg.png);
    background-position: bottom left;
    margin: 25px 150px 0px;
}

.curriculum {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    margin: 50px 0 0;
}

.curriculum-contents-cards-01 {
    background: linear-gradient(#DEF5FF, #ffffff);
    display: flex;
    flex-direction: column;
    padding: 25px 15px;
    gap: 25px;
    border-radius: 20px;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    justify-content: center;
    width: 365px;
    height: 400px;
}

.curriculum-contents-cards-02 {
    background: linear-gradient(#FFF4DC, #ffffff);
    display: flex;
    flex-direction: column;
    padding: 25px 15px;
    gap: 25px;
    border-radius: 20px;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    justify-content: center;
    width: 365px;
    height: 400px;
}

.curriculum-contents-cards-03 {
    background: linear-gradient(#F2E8FF, #ffffff);
    display: flex;
    flex-direction: column;
    padding: 25px 15px;
    gap: 25px;
    border-radius: 20px;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    justify-content: center;
    width: 365px;
    height: 400px;
}

.curriculum-contents-cards-01:hover,
.curriculum-contents-cards-02:hover,
.curriculum-contents-cards-03:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.curriculum-contents-cards-images {
    display: flex;
    justify-content: center;
    align-items: center;
}

.curriculum-contents-cards-images>img {
    width: 135px;
    height: 135px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.curriculum-contents-cards-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.curriculum-contents-cards-details-p {
    font-size: 1rem;
    padding: 25px 0px;
    text-align: center;
}

.curriculum-btn {
    margin: 50px;
    display: flex;
    gap: 5px;
}

.curriculum-btn-left:hover svg,
.curriculum-btn-right:hover svg {
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    transition: 0.5s ease all;
}

/* Stories */

#stories {
    background: url(./resources/assets/bg.png), linear-gradient(to bottom, #ffffff, #FFF4DC);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top right;
    padding: 25px 100px 0px;
}

#stories>h3, #stories .stories-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.stories-btn>button {
    background-color: rgba(17, 17, 17, 1);
    color: whitesmoke;
    border-radius: 12px;
    margin: 25px 0;
    border: none;
    width: 200px;
    height: 50px;
    font-weight: bold;
    font-size: 1rem;
}

.stories-btn>button:hover {
    background-color: whitesmoke;
    color: rgba(17, 17, 17, 1);
    cursor: pointer;
    border: 1px solid rgba(17, 17, 17, 1);
    transition: 0.5s ease all;
}

.stories {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin: 50px 0px;
    background: none;
}

.stories-left-contents-cards {
    position: relative;
    gap: 25px;
    border-radius: 15px;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    justify-content: center;
    width: 540px;
    height: 630px;
    border-radius: 15px;
}

.stories-left-contents-cards>img {
    width: 540px;
    height: 330px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px 15px 0px 0px;
}

#date-01 {
    position: absolute; 
    top: 315px; 
    left: 25px; 
    font-family: Raleway;
    background-color: rgba(60, 216, 232, 1);
    border: none;
    border-radius: 50px; 
    padding: 5px 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.stories-left-contents-cards>h5 {
    padding: 50px 25px;
}

.stories-left-contents-cards .description {
    padding: 0px 25px;
}

.stories-right {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.stories-right-contents-cards {
    position: relative;
    gap: 25px;
    border-radius: 15px;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    justify-content: center;
    width: 290px;
    height: 300px;
    border-radius: 15px;
}

.stories-right-contents-cards>img {
    width: 290px;
    height: 175px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px 15px 0px 0px;
}

#date-02 {
    position: absolute; 
    top: 160px; 
    left: 25px; 
    font-family: Raleway;
    background-color: rgba(149, 178, 38, 1);
    border: none;
    border-radius: 50px; 
    padding: 5px 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

#date-03 {
    position: absolute; 
    top: 160px; 
    left: 25px; 
    font-family: Raleway;
    background-color: rgba(93, 88, 240, 1);
    border: none;
    border-radius: 50px; 
    padding: 5px 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

#date-04 {
    position: absolute; 
    top: 160px; 
    left: 25px; 
    font-family: Raleway;
    background-color: rgba(1, 172, 253, 1);
    border: none;
    border-radius: 50px; 
    padding: 5px 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

#date-05 {
    position: absolute; 
    top: 160px; 
    left: 25px; 
    font-family: Raleway;
    background-color: rgba(254, 163, 1, 1);
    border: none;
    border-radius: 50px; 
    padding: 5px 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.stories-right-contents-cards>h5 {
    padding: 25px;
}

